<!-- fragments/navbar.html -->
<nav th:fragment="navbar" class="navbar-container">
    <div class="navbar-left">
        <ul class="navbar-links">
            <li><a th:href="@{/ui/dashboard/dashboard}">Accueil</a></li>
            <li><a th:href="@{/ui/dashboard/search}">Recherche</a></li>
            <li><a th:href="@{/ui/apprentis/global}">Gestion apprentis</a></li>
        </ul>
    </div>
    <div class="navbar-right">
        <span th:if="${user != null}" th:text="${user.prenom + ' ' + user.nom}"></span>
        <form th:action="@{/logout}" method="post" class="logout-form">
            <button type="submit" class="logout-btn">Déconnexion</button>
        </form>
    </div>
</nav>
