<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
</head>
<body>

<div th:replace="~{partials/navbar :: navbar}"></div>


<div class="annee-form-wrapper">
  <form action="/annees/creer" method="post" class="annee-form">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <button type="submit">+ Nouvelle année académique</button>
  </form>
</div>




<table>
  <caption th:text="'Promotion ' + ${anneeAcademique.annee}"></caption>
  <thead>
    <tr>
      <th>ID</th>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Détail</th>
      <th>Modifier</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="apprenti : ${apprentis}">
      <td th:text="${apprenti.id}" data-label="ID"></td>
      <td th:text="${apprenti.prenom}" data-label="Prénom">-</td>
      <td th:text="${apprenti.nom}" data-label="Nom">-</td>
      <td data-label="Action"><a th:href="@{/ui/dashboard/apprentice/{id}(id=${apprenti.id})}">Détail</a></td>
      <td data-label="Action"><a th:href="@{/ui/dashboard/apprentice/edit/{id}(id=${apprenti.id})}">Modifier</a></td>
    </tr>
    <tr>
      <td colspan="4" class="no-apprentice" th:if="${#lists.isEmpty(apprentis)}">
        La liste est vide ajouter au moins un apprenti
      </td>
    </tr>
  </tbody>
</table>

</body>
</html>