<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<h2 th:text="'Promotion ' + ${anneeAcademique.annee}">Promotion 2024-2025</h2>
<table>
  <thead>
  <tr>
    <th>#</th>
    <th>Prénom</th>
    <th>Nom</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="apprenti : ${apprentis}">
    <td th:text="${apprenti.id}"></td>
    <td th:text="${apprenti.prenom}">-</td>
    <td th:text="${apprenti.nom}">-</td>
    <td>détail</td>
  </tr>
  </tbody>
</table>
</body>
</html>