<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP fil rouge - ALTN72</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div>
    <h2>Liste des programmeurs</h2><br>
</div>
<a th:href="@{/addProgrammeur}" >Ajouter programmeur</a>
<table class="table">
    <thead class="thead-light">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Prénom</th>
        <th scope="col">Nom</th>
        <th scope="col">Adresse</th>
        <th scope="col">Salaire</th>
        <th scope="col">Langage</th>
        <th scope="col">Livre</th>
        <th scope="col">Supprimer</th>
        <th scope="col">Modifier</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="programmeur : ${prog}">
        <th scope="row" th:text="${programmeur.id}"></th>
        <td th:text="${programmeur.prenom}"></td>
        <td th:text="${programmeur.nom}"></td>
        <td th:text="${programmeur.adresse}"></td>
        <td th:text="${programmeur.salaire}"></td>
        <td th:text="${programmeur.langage}"></td>
        <td th:text="${programmeur.livre}"></td>

        <td>
            <form th:action="@{/programmeur/delete}" method="post">
                <input type="hidden" name="id" th:value="${programmeur.id}">
                <button type="submit">Supprimer</button>
            </form>
        </td>
        <td>
            <form th:action="@{/putProgrammeur}" method="post">
                <input type="hidden" name="id" th:value="${programmeur.id}">
                <button type="submit">Modifier</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
