<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP fil rouge - ALTN72</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div>
    <h2>Liste des programmeurs</h2><br>
</div>
<div th:text="${prog.id}"></div>
<div th:text="${prog.prenom}"></div>
<div th:text="${prog.nom}"></div>
<div th:text="${prog.adresse}"></div>
<div th:text="${prog.langage}"></div>
<div th:text="${prog.livre}"></div>
<div th:text="${prog.salaire}"></div>
</body>
</html>
